body{
	background-color: #222;
}
#ui{
	position: absolute;
	right: 0px;
	top: -1600px;
	top: 0px;
	width: 1080px;
	height: 2560px;
	background-color: black;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	/*transform: scale(.4);*/
	/*transform-origin: top right;*/
}

.state {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#tetris_ui, #replay_tetris_ui{
	position: absolute;
	left: 268px;
	top: 80px;
	width: 552px;
	height: 2150px;
}
	#replay_tetris_ui .timeLabel{
		background-color: blue;
	}

		.dot{
			position: absolute;
			width: 44.8px;
			height: 44.8px;
			background-color: white;
			font-size: 10px;
			transition: all 1s;
			border: 6px solid black;
			border-radius: 100%;
		}
		.dot0{ background-color: red	}
		.dot1{ background-color: green	}
		.dot2{ background-color: blue	}

		.timeLabel { 
			position: absolute;
			left: -183px;
			width: 138px;
			height: 44.8px;
			border: 6px solid black;
			border-radius: 22.4px;
			line-height: 32.8px;
			background-color: white;
			text-align: center;
			font-weight: 800;
			font-size: 12px;
		}
		.deadlineLabel { 
			position: absolute;
			right: -177px;
			width: 138px;
			height: 44.8px;
			border: 6px solid black;
			border-radius: 22.4px;
			line-height: 32.8px;
			background-color: white;
			text-align: center;
			font-weight: 800;
			font-size: 12px;
		}
			.deadlineLabel0{ background-color: red; color: black;}
			.deadlineLabel1{ background-color: green; color: black;}
			.deadlineLabel2{ background-color: blue; color: white;}
	.dead{
		border-color: red;
	}
#replay-ui{
	position: absolute;
	left: 12px;
	padding: 20px;
	width: 1064px;
	height: 270px;
	background-color: rgba(6,17,46,1);
	transition: all .5s;
}
	.replay-ui-0 { background: linear-gradient(to bottom, rgba(255,0,0,.4) 0%,rgba(255,0,0,0) 25%);}
	.replay-ui-1 { background: linear-gradient(to bottom, rgba(0,255,0,.4) 0%,rgba(0,255,0,0) 25%);}
	.replay-ui-2 { background: linear-gradient(to bottom, rgba(0,0,255,.4) 0%,rgba(0,0,255,0) 25%);}

	.replay-ui-box{
		position: absolute;
		left: 20px;
		top: 20px;
		width: 1024px;
		height: 230px;
		border: 1px solid rgba(255,255,255,.2);
		text-shadow: 0px 0px 20px rgba(0,127,255,1);
		padding: 20px;
		border-radius: 5px;
		font-size: 32px;
		color: white;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

#socket-ui{
	position: absolute;
	left: 12px;
	bottom: 0;
	width: 1064px;
	height: 270px;
	background-color: rgba(6,17,46,.9);
	font-size: 20px;
	font-weight: 200;
	color: white;
	overflow: hidden;
}

	/*
		88*4 = 352
	+---+---+---+---+
	| • | • | • | • |
	+---+---+---+---+
270	| • | • | • | • |	
	+---+---+---+---+
	| • | • | • | • |
	+---+---+---+---+

	*/

	.ui-panel{
		position: absolute;
		display: block;
		left: 0;
		width: 352px;
		height: 270px;
		border-right: 1px solid rgba(255,255,255,.2);
		text-shadow: 0px 0px 20px rgba(0,127,255,1);
		background: linear-gradient(to bottom, rgba(255,0,0,.4) 0%,rgba(255,0,0,0) 25%);
		text-align: center;
	}
		.ui-panel div{
			/*border: 1px solid red;*/
		}
		.ui-panel h1{
			font-weight: 600;
			font-size: 12px;
			margin-bottom: 20px;
		}

		.ui-panel:nth-child(2){
			left: 352px;
			background: linear-gradient(to bottom, rgba(0,255,0,.4) 0%,rgba(0,255,0,0) 25%);
		}
		.ui-panel:last-child{
			left: 704px;
			border: none;
			background: linear-gradient(to bottom, rgba(0,0,255,.4) 0%,rgba(0,0,255,0) 25%);
		}
		.bleep0{ animation: beepRed .2s;	}
		.bleep1{ animation: beepGreen .2s;	}
		.bleep2{ animation: beepBlue .2s;	}
		
		@keyframes beepRed { from {box-shadow: inset 0 0 100px red} to {box-shadow: inset 0 0 0px transparent;}}
		@keyframes beepGreen{ from {box-shadow: inset 0 0 100px green} to {box-shadow: inset 0 0 0px transparent;}}
		@keyframes beepBlue { from {box-shadow: inset 0 0 100px blue} to {box-shadow: inset 0 0 0px transparent;}}

	.ui-plug-in{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
	}
	.ui-plug-in-box{
		height: 100%;
		width: 100%;
		border-radius: 5px;
		text-align: center;
		border: 1px solid rgba(255,255,255,.2);
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.ui-tap-card{
		position: absolute;
		left: 0;
		top: 0;
		width: 352px;
		height: 180px;
		padding: 20px;
	}
		.ui-tap-card-box{
			height: 100%;
			width: 100%;
			border-radius: 5px;
			text-align: center;
			border: 1px solid rgba(255,255,255,.2);
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}
		.ui-deadline, .ui-charge{
			position: absolute;
			right: 0;
			top: 180px;
			width: 176px;
			height: 90px;
		}
		.ui-deadline{
			left: 0;
			border-right: 1px solid rgba(255,255,255,.2);
		}
			.ui-deadline-value, .ui-charge-value{
				position: absolute;
				left: 0px;
				top: 0px;
				width: 176px;
				height: 60px;
				font-size: 56px;
				text-align: center;
				font-weight: 100;
			}
				.ui-deadline-value:after{
					content: " h";
					font-size: 18px;
					font-weight: 600;
				}
				.ui-charge-value:after{
					content: " kWh";
					font-size: 18px;
					font-weight: 600;
				}
			
			.ui-deadline-label, .ui-charge-label{
				position: absolute;
				left: 0px;
				bottom: 0px;
				padding: 20px;
				width: 176px;
				font-size: 12px;
				line-height: 10px;
				font-weight: 600;
				text-align: center;
			}
	.ui-personal-info{
		position: absolute;
		padding: 20px;
		width: 352px;
		height: 90px;
		font-size: 36px;
	}
		
		.ui-personal-meta{
			margin-top: 5px;
			display: block;
			font-weight: 600;
			font-size: 12px;

		}
	.ui-notification{
		position: absolute;
		left: 0px;
		top: 90px;
		height: 60px;
		line-height: 60px;
		width: 312px;
		margin: 0 20px;
		background-color: yellow;
		color: rgba(6,17,46,.9);
		box-shadow: 0px 0px 20px rgba(0,127,255,1);
		font-weight: 900;
		text-shadow: none;
		border-radius: 4px;
		font-size: 14px;
		opacity: .8;
		text-align: left;
	}
		.ui-notification:before{
			content: "⚠";
			vertical-align: middle;
			font-size: 32px;
			margin: 0 10px;
		}

	
	.ui-progress-deadline, .ui-progress-charge{
		width: 176px;
		height: 120px;
		position: absolute;
		left: 0;
		top: 150px;
		border-right: 1px solid rgba(255,255,255,.2);
	}
		.ui-progress-charge{
			right: 0;
			left: 176px;
			border-right: none;
		}
		.ui-progress-deadline-value, .ui-progress-charge-value{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 176px;
			font-size: 50px;
			line-height: 60px;
			height: 135px;
			font-weight: 100;
		}
			.ui-progress-deadline-value:before, .ui-progress-charge-value:before{
				font-size: 12px;
				line-height: 12px;
				font-weight: 600;
				width: 178px;
				display: block;
				padding: 10px 0 5px;
			}
			.ui-progress-deadline-value:before{
				content: "expected finish";
			}
			.ui-progress-charge-value:before{
				content: "currently charged";
			}
			.ui-progress-charge-value:after{
				content: " %";
				font-size: 18px;
				font-weight: 600;
			}
		.ui-progress-deadline-label, .ui-progress-charge-label{
			position: absolute;
			left: 0px;
			bottom: 10px;
			width: 176px;
			font-size: 18px;
			font-weight: 600;
			text-align: center;

		}
			.ui-progress-deadline-label:before{
				font-weight: 200;
				content: "requested ";
			}
			.ui-progress-charge-label:before{
				font-weight: 200;
				content: "of ";
			}
			.ui-progress-charge-label:after{
				font-weight: 200;
				content: " kWh";
			}
	.ui-charged{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 20px;	
	}
		.ui-charged-box{
			height: 100%;
			width: 100%;
			border-radius: 5px;
			text-align: center;
			border: 1px solid rgba(255,255,255,.2);
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}
		.ui-notification-charged{
			width: 272px;
			height: 60px;
			background-color: yellow;
			color: rgba(6,17,46,.9);
			box-shadow: 0px 0px 20px rgba(0,127,255,1);
			font-weight: 900;
			text-shadow: none;
			border-radius: 4px;
			line-height: 60px;
			font-size: 14px;
			opacity: .8;
			margin: 45px 20px 0;
		}
			.ui-notification-charged:before{
				content: "⚠";
				vertical-align: middle;
				font-size: 50px;
			}
